{% load static %}
<div class="row"><!--row 3 footer start-->
    <div class="col-md-4 mt-5">
      <h5>Address</h5>
      <hr>
      Ganraya vihar shirpur <br>
      Kanhala road, Awadhoot.<br>
      Bhusawal,Jalgaon. <br>
      <p>Contact No. 8600776858</p> 
    </div>
    <div class="col-md-4 mt-5">
      <h5>Quick Links</h5>
      <hr>
      <p><a href="" class="anchor">Home</a></p>
      <p><a href="" class="anchor">About Us</a></p>
      <p><a href="" class="anchor">Cart</a></p>
      <p><a href="" class="anchor">Contact</a></p>
    </div>
    <div class="col-md-4 mt-5">
      <h5>Connect US</h5>
      <hr>
      <h5><a href="https://www.facebook.com/"><i class="bi bi-facebook text-primary"></i></a></h5>
      <h5><a href="https://www.instagram.com/"><i class="bi bi-instagram " style="color: crimson;"></i></a></h5>
      <h5><a href="https://www.discord.com/"><i class="bi bi-discord"></i></a></h5>
      <h5><a href="https://www.twitter.com/"><i class="bi bi-twitter-x text-dark"></i></a></h5>
    </div>
</div><!--row 3 footer end-->
</div>
<script src="{% static 'asset/js/bootstrap.min.js' %}"></script>
</body>
</html>